.nitro-catalog {
    width: $catalog-width;
    height: $catalog-height;
    min-width: $catalog-width;
    max-width: $catalog-width;
    min-height: $catalog-height;

    font[size='16'] {
        font-size: 20px;
    }

    .catalog-search-button {
        right: 5px;
        top: 3px;
        cursor: pointer;
    }

    .avatar-image {
        background-position: -27px -37px!important;
    }

    .catalog-default-image {
        max-height: 250px;
        height: 243px;
    }

    .grid-price-view {
        font-size: 12px;
        padding-right: 2px;
        padding-bottom: 2px;
    }


    .catalog-clear-button {
        right: 5px;
        top: 6px;
        cursor: pointer;
    }

    .quantity-input {
        min-height: 25px;
        width: 30px;
        padding: 0 4px;
    }

    .grid-bg {
        border-image-source: url(@/assets/flash/catalogue/cata_bg.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
    }

    .none-bg {
        border-image-source: none;
    }

    .currencies-bg {
        border-image-source: url(@/assets/flash/catalogue/currencies_bg.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
    }

    .credits-bg {
        border-image-source: url(@/assets/flash/catalogue/credits_bg.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
    }

    .duckets-bg {
        border-image-source: url(@/assets/flash/catalogue/duckets_bg.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
    }

    .credits-default-layout {
        position: absolute;
        bottom: 15px;
        right: 5px;
    }

    .item-title {
        position: absolute;
        padding: 1rem 6px 1rem 6px;
        z-index: 99;
        height: 60px;
        text-shadow: none;
    }

    .selectproduct-title {
		position: absolute;
		font-size: 11px;
		color: #62615f;
	}

    .item-picker {
        max-height: 150px;
        min-height: 150px;
    }

    .item-not-picker {
        width: calc(100% - 216px);
        max-height: 30px;
        min-height: 30px;   
    }

    .group-furni-picker {
        max-height: 110px;
        min-height: 110px;
    }

    .quanity-container {
        height: 20px;
        font-size: 13px;
    }

    .catalog-image-column {
        padding-top: 67px;
        padding-bottom: 67px;
    }

    .purchase-buttons {
        width: 100%;

        .btn {
            width: 100%;
            height: 24px;
        }
    }
}

.group-forum-page {

    font-size: 13px;

    font[size='16'] {
        font-size: 15px;
    }

    a {
        color: #000;
    }
}

.trophy-text {
    height: 120px;
}

.nitro-catalog-gift {
    width: 362px;
    height: 470px;

    .gift-preview {
        width: 80px;
        height: 80px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F0F0F0;
        border: 1px solid #5D5D5D;
        border-radius: 8px;
    }

    .gift-color {
        width: 15px;
        height: 15px;
        border-radius: $border-radius;
    }
}

.catalog-left {
    width: 184px;
}

.catalog-right {
    text-shadow: none;
}

.marketplace-select {
    width: 220px;
}

.pets-selector {
    .group-furni-picker {
        max-height: 80px!important;
        min-height: 80px!important;

        .layout-grid-item {
            border: none!important;
            border-radius: 4px!important;
            background-position: 0 0!important;
            width: 27px;
            height: 22px;
            background-image: url(@/assets/flash/catalogue/pets/spritesheet.png);

            &.active {
                background-position: -28px 0!important;
            }
        }
    }
    
    .flash-form-select {
        padding-left: 0;
    }
}

.pets-preview {
    height: 230px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.bundle-purchase-buttons {
    max-height: 25px;
}

.catalog-header {
    height: 120px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    background-color: #0e4258;
    margin-top: -1px;
    z-index: 1;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 3px #ffffff40;
    position: relative;

    .catalog-header-content {
        position: absolute;
        margin-top: 20px;

        .catalog-icon {
            transform: scale(2);
            filter: drop-shadow(2px 1px 0 rgba(0,0,0,.239216));
            position: absolute;
            top: 15px;
            left: 35px;
        }
    }

    .catalog-header-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        width:100%;
        height: 100%;
        opacity: .1;
        filter: grayscale(1);
        }

    .catalog-header-icon {
        width: 85px;
        float: left;
    }

    .catalog-header-title {
        font-size: 15px;
        height: 3px;
        padding-left: 80px;
        margin-top: -5px;
    }

    .catalog-header-desc {
        font-size: 12px;
        padding-left: 80px;
        padding-right: 10px;
    }
}

.nitro-catalog-navigation-grid-container {
    text-shadow: none;
    gap: 1px !important;

    .nitro-catalog-item {
        font-family: Ubuntu;
        font-style: normal;
        color: #6A6A69;
        font-weight: bold;
    }

    .nitro-catalog-subitem {
        font-family: Ubuntu;
        font-style: italic;
        color: #52819A;
        font-weight: bold;
    }

    .nitro-catalog-navigation-section {
        display: grid;

        .nitro-catalog-navigation-section {
            padding-left: 5px;
            border-left: 2px solid #b6bec5;
        }
    }

    .layout-grid-item {
        font-size: $font-size-sm;
        border-color: unset !important;
        border: 0 !important;
        padding: 1px 3px;
        height: 21px!important;

        .svg-inline--fa {
            color: $black;
            font-size: 10px;
            padding: 1px;
        }

        &.layout-grid-item {
            background-color: transparent;
        }

        &.layout-grid-item.active:not(.clear-bg) {
            background-color: #63c5e9 !important;
            box-shadow: inset 0px 2px 0px #82d1ed, inset 0px -2px 0px #82d1ed, 0 1px #B4B4AE;
            font-family: Ubuntu;
            font-weight: bold;
            color: #fff;
        }

        &:hover {
            background-color: #63c5e9 !important;
            box-shadow: inset 0px 2px 0px #82d1ed, inset 0px -2px 0px #82d1ed, 0 1px #B4B4AE;
            font-family: Ubuntu;
            font-weight: bold;
            color: #fff;
        }
    }
}

.nitro-catalog-layout-info-loyalty {
    .info-loyalty-content {
        background-repeat: no-repeat;
        background-position: top right;
        background-image: url('@/assets/images/catalog/diamond_info_illustration.gif');
        padding-right: 123px;
    }

    .info-image {
        width: 123px;
        height: 350px;
        background-image: url('@/assets/images/catalog/diamond_info_illustration.gif');
    }
}

.nitro-catalog-layout-vip-buy-grid {
    .layout-grid-item {
        height: 50px !important;
        max-height: 50px !important;

        .icon-hc-banner {
            width: 68px;
            height: 40px;
            background: url('@/assets/images/catalog/hc_big.png') center
                no-repeat;
        }
    }
}

.nitro-catalog-layout-marketplace-grid {
    .layout-grid-item {
        height: 75px !important;
    }
}

.marketplace-bg {
    border-image-source: url(@/assets/flash/catalogue/marketplace_bg.png);
    border-image-slice: 6 6 6 6 fill;
    border-image-width: 6px 6px 6px 6px;
}

.search-marketplace {
    height: 116px;
}

.font-size-marketplace {
    font-size: 12px;
}

.font-size-marketplace-small {
    font-size: 10px;
}

.layout-grid-item {
    
    &.layout-marketplace {
        background-color: transparent !important;
        border: none !important;
        border-color: none !important;
        cursor: default;
    }
}

.nitro-catalog-layout-vip-gifts-grid {
    .layout-grid-item {
        height: 55px !important;
        max-height: 55px !important;
    }
}

.nitro-catalog-layout-marketplace-post-offer {
    width: 299px;

    .image-preview {
        width: 70px !important;
        height: 70px !important;
        overflow: hidden !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        background-color: #EEEEEE !important;
    }

    .textarea-height {
        height: 60px;
    }
}

.nitro-catalog-layout-marketplace-confirm {
    width: 279px;

    .image-preview {
        width: 48px !important;
        height: 48px !important;
        overflow: hidden !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        background-color: #F0F0F0 !important;
        border: 1px solid #5D5D5D !important;
        border-radius: 8px !important;
    }
}

.nitro-catalog-layout-bundle-grid {
    .layout-grid-item {
        background-color: transparent;
        border: none!important;
    }
}

.nitro-front-page-item-text {
    border-image-source: url(@/assets/flash/catalogue/cata_feature_text_bg.png);
    border-image-slice: 6 6 6 6 fill;
    border-image-width: 6px 6px 6px 6px;
    width: 96%;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 16px;
}

.voucher-box {
    border-image-source: url(@/assets/flash/catalogue/voucer_bg.png);
    border-image-slice: 6 6 6 6 fill;
    border-image-width: 6px 6px 6px 6px;
    font-size: 13px;
}

.voucher-form {
    height: 24px;
}

.autocomplete-gift-container {
    background: #fff;
    list-style-type: none;
    min-width: 264px;
    border-radius: 0.2rem;
    position: absolute;
    font-size: 0.7875rem;
    top: 65px;
    left: 31px;
    border: 1px solid #b6c1ce;
    margin: 0;
    border-radius: 2px;
    margin: 0;
    box-sizing: border-box;
    max-height: 280px;
    overflow-y: auto;
    z-index: 1;

    .autocomplete-gift-item {
        width: 100%;
        box-sizing: border-box;
        
        &:hover {
            background-color: #CCD1DA !important;
        }

        &:nth-child(odd) {
            background-color: #EEEEEE;
        }

        &:nth-child(even) {
            background-color: #FFFFFF;
        }
    }
}

.club-content {
    height: 73px;
    background-color: #DEDEDE;
    border-radius: 12px;
    border: 1px solid #959595;

    .content-title {
        height: 25px;
        background-color: #959595;
        border-radius: 6px;
    
        .margin-image {
            margin-right: 27px;
        }

        .margin-text {
            margin-top: -2px;
        }
    }
}

.height-roomads-description {
    height: 137px;
}

.color-trophy {
    width: 38px;
    height: 30px;
    margin-right: 4px;
}

.pets-3 {
    background-color: #8798a1;
}

.catalog-purchase-confirm-view {
    width: $catalog-confirmation-width;
    height: $catalog-confirmation-height;
    min-width: $catalog-confirmation-width;
    max-width: $catalog-confirmation-width;
    min-height: $catalog-confirmation-height;

    .image-preview-container {
        width: 126px;
        height: 150px;
        justify-content: center;
        align-items: center;
        background-color: #F0F0F0;
        border: 1px solid #5D5D5A;
        border-radius: 8px;
    }

    .btn {
        height: 27px;
        width: 110px;
    }
}

.catalog-not-enough-view {
    width: $catalog-not-enough-width;
    height: $catalog-not-enough-height;
    min-width: $catalog-not-enough-width;
    max-width: $catalog-not-enough-width;
    min-height: $catalog-not-enough-height;

    .catalog-not-enough-text {
        font-size: 12px;
    }
}

@import './views/targeted-offer/Offer.scss';
