.user-profile {
    width: $user-profile-width;
    height: $user-profile-height;
    color: $black;
    resize: none;

    .profile-grey-bg {
        border-image-source: url(@/assets/flash/profile/grey-bg.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
    }

    .profile-white-bg {
        border-image-source: url(@/assets/flash/profile/white_bg.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
    }

    .profile-grey-bg-border {
        border-image-source: url(@/assets/flash/profile/grey_bg_border.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
        max-height: 240px;
    }

    .badge-text {
        margin-left: auto;
        margin-right: 0;
    }

    .groups-content {
        padding-left: 9px !important;
        padding-right: 12px !important;
        padding-top: 12px !important;
        padding-bottom: 14px !important;

        .groups-grid {
            width: 74px;
            height: 195px;
            flex-shrink: 0;
            overflow: auto;

            .layout-grid-item {
                background: url(@/assets/flash/profile/bg-group-item.png) no-repeat;
                width: 62px;
                height: 60px;
                border: none !important;
                background-position: center;

                .group-badge-container {
                    background: url(@/assets/flash/profile/bg-group-item.png) no-repeat;
                    border: none!important;
                }

                &.active {
                    background: url(@/assets/flash/profile/bg-group-item-active-back.png) no-repeat;
                    border: none !important;
                    position: relative;
                    align-items: center;
                    justify-content: center;

                    .group-badge-container {
                        background: url(@/assets/flash/profile/bg-group-item-active.png) no-repeat;
                        border: none !important;
                        width: 52px;
                        position: relative;
                        height: 50px;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        .groups-container {
            margin-top: 11px;
            gap: 12px!important;

            .group-information {
                padding: 5px 33px!important;
                border-image-source: url(@/assets/flash/profile/bg-group-content.png);
                border-image-slice: 7 fill;
                border-image-width: 7px;
                border-image-outset: 0px;
                border-image-repeat: repeat repeat;
                height: 224px;
                width: 410px;

                .badge-container {
                    width: 100px;
                    margin-top: 4px;
                }

                .group-information-content {
                    border-image-source: url(@/assets/flash/profile/bg-information-content.png);
                    border-image-slice: 7 fill;
                    border-image-width: 7px;
                    border-image-outset: 0px;
                    border-image-repeat: repeat repeat;
                    padding: 10px 6px !important;
                    width: 100%;

                    .role-icon {
                        left: 20px
                    }

                    .group-button {
                        font-size: 12.5px !important;
                        min-width: 160px;
                    }
                }
            }
        }
    }

    .user-container {
        min-width: 264px;
        border-right: 1px solid #AFAFAF;

        .avatar-container {
            width: 63px;
            height: 120px;
        }
    }

    .rooms-button-container {
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        padding: 8px 6px !important;
    }

    .user-relationship {
        height: 25px;

        .avatar-image-container {
            width: 50px;
            height: 50px;

            .avatar-image {
                top: 20px;
                right: -8pxpx;
            }
        }
    }

    .user-relationship-count {
        margin-top: 2px;
        margin-left: 5px;
        color: #939392 !important;
    }

    .user-groups-container {

        .layout-grid-item {
            width: 50px;
        }
    }

    .no-group-spritesheet {
        background: transparent url('@/assets/images/groups/no-group-spritesheet.png') no-repeat;

        &.image-1 {
            width: 95px;
            height: 136px;
            background-position: -3px -3px;
        }

        &.image-2 {
            width: 95px;
            height: 136px;
            background-position: -104px -3px;
        }

        &.image-3 {
            width: 95px;
            height: 136px;
            background-position: -205px -3px;
        }
    }
}
