.nitro-inventory {
    height: $inventory-height;
    min-height: $inventory-height - 42px;
    width: $inventory-width;
    min-width: $inventory-width;
    max-width: $inventory-width;
    color: #000;

    .inventory-empty-container {
        font-size: 12px !important;

        .empty-title {
            color: rgb(222 8 8) !important;
            text-shadow: 0 1px 0 #FFFFFF;
        }
    }

    input {
        min-height: 20px;
        max-height: 20px;
    }

    &.trading {
        width: 535px;
        min-height: $inventory-height + 290px !important;
        max-width: $inventory-width + 15px !important;
        min-width: $inventory-width + 15px !important;

        .trading-inventory {
            max-height: 240px;
        }

        .nitro-item-count {
            top: 0px;
            right: -2px;
            background-color: white;
            padding: 0px;
            min-width: 2px;
            min-height: 2px;
            padding-left: 2px;
            padding-right: 2px;
            color: #306A83;
            border: 1px solid #2F6982;
            font-weight: normal !important;
            font-family: Goldfish;
        }
    }

    .empty-image {
        background: url('@/assets/images/inventory/empty.png');
        width: 129px;
        height: 181px;
    }

    .trade-button {
        min-height: 0;
        font-size: 8px;
        padding: 1px 2px;
        z-index: 5;
    }

    .trade-bg {
        border-image-source: url('@/assets/flash/inventory/trading_bg.png');
        border-image-slice: 15 15 15 15 fill;
        border-image-width: 15px 15px 15px 15px;
        z-index: 1;
    }

    .credits-align {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 230px;
    }

    .quantity-input {
        width: 49px;
    }

    .lock-design-left {
        margin-left: 21px;
        margin-right: 33px;
    }

    .lock-design-right {
        margin-left: 21px;
    }

    .divisor {
        height: 180px;
        border-left: 2px solid #B4B4B4;
        margin-top: 15px;
    }

    .inventory-items {
        width: 42px;
        height: 42px;
        border-image-source: url(@/assets/flash/inventory/item.png) !important;
        border-image-slice: 6 6 6 6 fill !important;
        border-image-width: 6px 6px 6px 6px !important;

        &.active {
            border-image-source: url(@/assets/flash/inventory/selected_item.png) !important;
            border-image-slice: 6 6 6 6 fill !important;
            border-image-width: 6px 6px 6px 6px !important;
        }

        &.unseen {
            background-color: #9BCA64;
        }

        .nitro-item-count {
            top: 0px;
            right: -2px;
            background-color: white;
            padding: 0px;
            padding-left: 2px;
            padding-right: 2px;
            min-width: 2px;
            min-height: 2px;
            color: #306A83;
            border: 1px solid #2F6982;
            font-weight: normal !important;
            font-family: Goldfish;
        }
    }
}

.calc-wrapper {
    width: 96%;
    height: calc(100% - 100px);
}

.size-list-badges {
    width: 335px;
}

.size-badges {
    width: 145px;
}

.nitro-inventory-category-filter {
    background-color: #C9C9C9;
    height: 25px;
}

.text-shadow-around-text {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 #ececec, 0 -1px white;
}
