.nitro-toolbar {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: $toolbar-height;
    z-index: $toolbar-zindex;
    pointer-events: all;
    background: url(@/assets/flash/toolbar/toolbar_bg.png);
    background-repeat: repeat-x;

    .toolbar-left-side {
        padding-left: 10px;
        padding-right: 15px;
        border-right: 1px solid #454442;
        height: 40px;
    }

    .toolbar-left-collapse {
        background-image: url(@/assets/flash/toolbar/collapse_left.png);
        background-repeat: no-repeat;
        background-color: transparent;
        height: 43px;
        width: 14px;
        max-width: 14px;
        position: absolute;
        left: 0px;
        border: none;
    }

    .toolbar-left-collapse-active {
        background-image: url(@/assets/flash/toolbar/collapse_left_active.png);
        background-repeat: no-repeat;
        background-color: transparent;
        height: 43px;
        width: 14px;
        max-width: 14px;
        position: absolute;
        left: 0px;
        border: none;
    }

    .toolbar-right-side {
        padding-left: 15px;
        border-left: 1px solid #454442;
        height: 40px;
        padding-right: 10px;
    }

    .toolbar-right-collapse {
        background-image: url(@/assets/flash/toolbar/collapse_right.png);
        background-repeat: no-repeat;
        background-color: transparent;
        height: 43px;
        width: 14px;
        max-width: 14px;
        position: absolute;
        right: 0px;
        border: none;
    }

    .toolbar-right-collapse-active {
        background-image: url(@/assets/flash/toolbar/collapse_right_active.png);
        background-repeat: no-repeat;
        background-color: transparent;
        height: 43px;
        width: 14px;
        max-width: 14px;
        position: absolute;
        right: 0px;
        border: none;
    }

    .navigation-item {
        position: relative;

        &.item-avatar {
            width: 45px;
            height: 45px;
            position: relative;
            overflow: visible;

            .avatar-image {
                &.noclip {
                    bottom: 2px;
                    height: 65px;
                }
            }

            &.clipped {
                
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 45px;
                    height: 45px;
                    background-image: url(@/assets/flash/toolbar/memenu_bg.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 45px 45px;
                    opacity: 0.9;
                    z-index: 0;
                    border-radius: 50%;
                }
                
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 45px;
                    height: 45px;
                    background-image: url(@/assets/flash/toolbar/memenu_circle.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 45px 45px;
                    z-index: 2;
                    pointer-events: none;
                }
            }

            .avatar-clip-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 42px;
                height: 44px;
                overflow: hidden;
                z-index: 1;

                &.radius {
                    border-radius: 50%;
                }

                .avatar-image {
                    position: absolute;
                    top: 85%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .nitro-item-count {
                z-index: 3;
            }
        }

        &:hover {
            -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
            filter: drop-shadow(2px 2px 0 rgba($black, 0.8));
        }

        &.active,
        &:active {
            -webkit-transform: unset;
            transform: unset;
            filter: none;
        }
    }

    #toolbar-chat-input-container {
        position: relative;
        bottom: 0px;
        right: 10px;

        @media (max-width: 1470px) {
            bottom: 55px;
            right: 0px;
        }

        @include media-breakpoint-down(sm) {
            width: 0px;
            height: 0px;
        }
    }

    .margin-friends {
        margin-right: 44px;
    }
}

.nitro-toolbar-me {
    position: absolute;
    bottom: 52px;
    left: 15px;
    z-index: $toolbar-memenu-zindex;
    border-image-source: url(@/assets/flash/toolbar/me_menu_bg.png);
    border-image-slice: 6 6 6 6 fill;
    border-image-width: 6px 6px 6px 6px;

    .me-text {
        font-size: 10px;
    }

    .navigation-item {
        transition: filter .2s ease-out;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0) drop-shadow(2px 2px 0 rgba($black, 0.8));
        }
    }
}

.toolbar-icon-animation {
    position: absolute;
    object-fit: cover;
    height: auto;
    width: auto;
    max-width: 120px;
    max-height: 150px;
    z-index: 500;
    filter: drop-shadow(2px 1px 0 rgba($white, 1))
        drop-shadow(-2px 1px 0 rgba($white, 1))
        drop-shadow(0 -2px 0 rgba($white, 1));
}
