.nitro-context-menu {
    padding: 2px;
    font-size: $font-size-sm;
    z-index: $context-menu-zindex;
    pointer-events: all;

    &.other-player {
        .list-item {
            &:not(.disabled):hover {
                background: repeating-linear-gradient(#2C2926, #2C2926 50%, #292623 50%, #292623 100%)!important;

                &:focus,
                &:active {
                    background: repeating-linear-gradient(#272422, #272422 50%, #1C1A18 50%, #1C1A18 100%)!important;
                    border-left-color: #1C1A18!important;
                    border-right-color: #1C1A18!important;
                }
            }
        }
    }

    &.bot-chat {
        max-width: 250px;
        width: 250px;
        background: #2d2a26;
        border-top: 1px solid #000;

    }

    &.name-only {
        border-image-source: url(@/assets/flash/room/name_bg.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
        padding: 6px 22px;
        width: unset;
        text-align: center;
        font-size: 12px;

        &:after {
            content: "";
            background-image: url(@/assets/flash/room/pointer_after.png);
            background-repeat: no-repeat;
            width: 11px;
            height: 9px;
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    &:not(.name-only):not(.menu-hidden) {
        min-width: 100px;
    }

    &:not(.name-only) {
        &:after {
            content: '';
            background-image: url(@/assets/flash/room/context_pointer_after.png);
            background-repeat: no-repeat;
            width: 11px;
            height: 9px;
            position: absolute;
            bottom: -4px;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    .menu-bottom {
        border-image-source: url(@/assets/flash/room/context_menu_bg.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
        color: $white;
        height: 27px;
        font-size: 12px;
        margin-top: -6px;
        padding-top: 0.25rem;
        min-width: 30px;
        }

    .menu-bottom {
        border-image-source: url(@/assets/flash/room/context_menu_bg.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
        color: $white;
        height: 27px;
        font-size: 12px;
        margin-top: -6px;
        padding-top: 0.25rem;
        min-width: 30px;
        }

    .menu-header {
        border-image-source: url(@/assets/flash/room/context_menu_bg.png);
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
        color: $white;
        min-width: 104px;
        height: 30px;
        max-height: 30px;
        font-size: 12px;
        margin-bottom: -6px;
        font-family: Ubuntu;
        font-weight: bold;

        &:hover {
            color: #90C1FE;
        }
        
        &.not-own-menu {
            min-width: 140px;
        }
    }

    &.menu-hidden {
        .menu-footer {
            padding-top: 2px;
            padding-bottom: 0;
        }
    }

    .menu-footer {
        color: $white;
        font-size: 16px;
        width: 100%;
        min-width: 25px;
        padding-bottom: 2px;
        cursor: pointer;
    }

    .menu-list-split-3 {

        .menu-item {
            margin-right: -1px;

            &:nth-child(3n+3) {
                margin-right: unset;
            }
        }
    }

    .context-input-bg {
        background: #2d2a26;
        border-top: 1px solid #000;
    }

    .menu-item {
        position: relative;
        border-bottom: 1px solid #4f4c48;
        padding: 3px;
        overflow: hidden;
        border-right: 1px solid #000000;
        border-left: 1px solid #000000;

        &:last-child {
            margin-bottom: 0;
        }

        &.disabled {
            filter: brightness(0.7);
            cursor: not-allowed !important;
        }

        &.list-item {
            height: 27px;
            max-height: 27px;
            padding: 3px;
            background: repeating-linear-gradient(#2a2725, #2a2725 50%, #262321 50%, #262321 100%);
            cursor: pointer;
            font-size: 11px;

            &:not(.disabled):hover {
                background: repeating-linear-gradient(#47A3CC, #47A3CC 50%, #4296BC 50%, #4296BC 100%);

                &:focus,
                &:active {
                    background: repeating-linear-gradient(#3F90B4, #3F90B4 50%, #2D6882 50%, #2D6882 100%);
                    border-right: 1px solid #2D6882;
                    border-left: 1px solid #2D6882;
                }
            }

            .fa-icon,
            .nitro-currency-icon {
                position: absolute;
                right: 8px;

                &.left {
                    left: 8px;
                    right: unset;
                }

                &.center {
                    position: unset;
                    right: unset;
                    left: unset;
                }
            }
        }
    }
}
