.user-settings-window
{
    width: 242px;
    height: 170px;
    min-width: 242px;
    min-height: 170px;
    resize: none;

    &.sound {
        width: 312px;
        min-width: 312px;
        height: 190px;
        min-height: 190px;
    }

    .nitro-card-header-text { 
        font-size: 12px;
    }

    .content-area {
        font-size: 12px;
        padding-top: 0;
    }

    input[type=range] {
        background: url(@/assets/flash/settings/range.png);
        height: 8px;
        -webkit-appearance: none;
        margin: 10px 0;
        width: 139px;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            background: url(@/assets/flash/settings/thumb.png);
            width: 12px;
            height: 15px;
        }
    }

    .number-range {
        background: url(@/assets/flash/settings/number_range.png);
        background-repeat: no-repeat;
        width: 137px;
        height: 8px;
        margin-left: 2px;
        margin-bottom: -5px;
    }

    .content-area {

        .fas,
        .svg-inline--fa {
            width: 20px;
        }
    }
}
