.nitro-achievements {
    width: $achievement-width;
    min-width: $achievement-width;

    .nitro-progress-bar {
        border: none;
        border-radius: 0;
        overflow: hidden;
        background: url("@/assets/flash/boxes/bg-progress-bar.png") no-repeat center;
        width: 254px;
        height: 23px;
        flex-shrink: 0;

        .nitro-progress-bar-inner {
            background-image: url("@/assets/flash/boxes/bg-percent.png");
            height: 17px;
            margin-left: 2px;
            max-width: 247px;
        }

        .nitro-progress-bar-text {
            font-weight: bold;
            text-shadow: none;
        }
    }

    .nitro-item-count {
        top: 3px!important;
        right: 3px!important;
    }
    
    .earned-text {
        color: #525252;
    }

    .group-information {
        padding-bottom: 13px!important;
        padding-left: 16px!important;
        padding-right: 14px!important;
        padding-top: 20px!important;
        height: 130px;
    }

    .content-area {
        padding-left: 14px!important;
        padding-top: 7px!important;
        padding-right: 14px!important;
        padding-bottom: 14px!important;
    }

    .small-progress-bar  {
        background: url("@/assets/flash/achievements/small-progress-bar.png") no-repeat center;
        width: 188px;
        flex-shrink: 0;
    }

    .nitro-card-sub-header {
        background-color: #8899A2!important;
        height: 75px;
        border: 1px solid black;
        border-top: 0;
        padding-left: 14px!important;
        padding-right: 14px!important;
        gap: 34px!important;
    }

    .nitro-achievements-list {
        padding-right: 8px;
        max-height: 255px;
        .layout-grid-item {
            background: url("@/assets/flash/achievements/bg-item.png") no-repeat;
            width: 62px;
            height: 60px;
            border: none !important;
            background-position: center;
            border-radius: 6px;

            &.active {
                background: url("@/assets/flash/achievements/bg-item-active.png") no-repeat;
            }
        }
    }

    .nitro-categories-list {

        .achieve-name {
            color: #323030;
            font-size: 12px;
        }

        .layout-grid-item {
            border-image-source: url('@/assets/flash/boxes/card/bg-category.png')!important;
            border-image-slice: 7 fill!important;
            border-image-width: 7px!important;
            background: none!important;
            margin-top: 1px;
            margin-left: 1px;
            width: 110px;
            height: 103px;

            &:hover {
                border-image-source: url('@/assets/flash/boxes/card/bg-category-hover.png')!important;
                transform: translate(-1px, -1px);
            }
        }
    }
}

.nitro-achievements-back-arrow {
    background: url('@/assets/images/achievements/back-arrow.png') no-repeat center;
    width: 33px;
    height: 34px;
}

.nitro-achievements-badge-image {
    width: 80px !important;
    height: 80px !important;
}
