.nitro-navigator {
    height: $navigator-height;
    min-width: $navigator-width;
    max-width: $navigator-width;
    min-height: $navigator-min-height;

    .search-input {
        min-width: 116px;
    }

    &.expanded {
        max-width: $navigator-width + 153px;
        min-width: $navigator-width + 153px;
    }

    .nav-form {
        width: 275px;
    }

    .navigator-grid {


        &:not(.two-columns) {

            .navigator-item {

                &:nth-child(odd) {
                    background-color: #daecfd;
                }

                &:nth-child(even) {
                    background-color: #fff;
                }


            }
        }

        &.two-columns {

            .navigator-item {

                &:nth-child(4n-2),
                &:nth-child(4n-3) {
                    background: $grid-active-bg-color;
                }
            }
        }
    }
}

.nitro-navigator-doorbell,
.nitro-navigator-password {
    width: 300px;
}

.nitro-room-info {
    width: $room-info-width;
    resize: none;
    
    .tag-box {
        font-size: 12px;
        padding: 0px 1px;
        background-color: #CEE9FA;
        border-radius: 3px;
        color: #10333B;

        &:hover {
            background-color: #449FCF;
            color: #0E333C;
        }
    }

    .nitro-report-room {
        width: 200px;
        height: 33px;
        margin-top: 11px;
        margin-bottom: 14px;

        hr {
            width: 2px;
            height: 20px!important;
            margin-left: 9px;
            margin-right: 9px;
            border-right: 1px solid #ECECEC;
            background-color: #878787;
        }
    }
}

.text-tag {
    font-size: 10px;
    background-color: #CEE9FA;
}

.text-tag:hover {
    background-color: #449FCF;
}

.text-embed {
    font-size: 10px;
}

.nitro-room-link {
    width: 400px;
}

.nitro-room-settings {
    width: 355px;

    .list-container {
        height: 100px;

        .list-item {
            background-color: $grid-active-bg-color;
        }
    }
}


.badge-empty {
    background-image: url('@/assets/flash/navigator/badge_empty.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 19px;
    color: #fff;
}

.badge-success {
    background-image: url('@/assets/flash/navigator/badge_success.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 19px;
    color: #fff;
}

.badge-danger {
    background-image: url('@/assets/flash/navigator/badge_danger.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 19px;
    color: #fff;
}

.badge-warning {
    background-image: url('@/assets/flash/navigator/badge_warning.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 19px;
    color: #fff;
}

.nav-category {
    font-size: 12px;
    color: #2b577b;
    font-size: var(--bs-body-font-size);
}

.nav-icons {
    color: #7dd8f6;
}

.minus-icon {
    background-image: url('@/assets/flash/navigator/minus.png');
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.plus-icon {
    background-image: url('@/assets/flash/navigator/plus.png');
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.nav-avatar-icon {
    background-image: url('@/assets/flash/navigator/avatar_icon.png');
    background-repeat: no-repeat;
    height: 8px;
    width: 7px;
}

.nav-thumbnail {
    border-image-source: url('@/assets/flash/navigator/thumbnail_bg.png');
    border-image-slice: 7 7 7 7 fill;
    border-image-width: 7px 7px 7px 7px;
}

.nav-create-room {
    background-image: url('@/assets/flash/navigator/create_room.png');
    background-repeat: no-repeat;
    height: 60px;
    width: 189px;
    float: left;
    cursor: pointer;
}

.nav-random-room {
    background-image: url('@/assets/flash/navigator/random_room.png');
    background-repeat: no-repeat;
    height: 60px;
    width: 189px;
    float: right;
    margin-left: 15px;
    cursor: pointer;
}

.nav-promote-room {
    background-image: url('@/assets/flash/navigator/promote_room.png');
    background-repeat: no-repeat;
    height: 60px;
    width: 189px;
    float: right;
    margin-left: 15px;
    cursor: pointer;
}

.nav-bottom {
    max-height: 80px;
    min-height: 80px;
}

.nav-bottom-buttons {
    bottom: 18px;
    left: 10px;
}

.nav-bottom-buttons-text {
    font-size: 12px;

    padding-top: 22px;
    margin-left: 86px;
}


// Room Creator

.nitro-room-creator {
    width: $nitro-room-creator-width;
    height: $nitro-room-creator-height;

    textarea:focus, input:focus {
        outline: none;
    }

    .navigator-selects {
        width: 260px;
    }

    .room-creator-form {
        border: 1px solid black;
    }

    .room-creator-form-name {
        height: 20px;
        border: 1px solid grey;
    }

    .room-creator-form-desc {
        height: 60px;
        border: 1px solid grey;
    }

    .headline {
        font-family: Goldfish-Bold;
    }

    .content-area {
        font-family: Goldfish;
        font-size: 9px;
    }

    .room-creator-info {
        width: 240px;
    }

    .form-select {
        width: 100%;
    }

    .room-creator-grid {
        width: 275px;
    }

    ::-webkit-scrollbar {
        width: 17px;

        &:horizontal {
            height: 17px;
        }

        &:not(:horizontal) {
            width: 17px;
        }
    }

    ::-webkit-scrollbar-track {
        background-image: url("@/assets/flash/scrollbar/secondary_track.png");
    }

    ::-webkit-scrollbar-thumb {
        background-image: url("@/assets/flash/scrollbar/secondary_track_thumb1.png"), url("@/assets/flash/scrollbar/secondary_track_thumb2.png"), url("@/assets/flash/scrollbar/secondary_track_thumb3.png");
        background-repeat: no-repeat, no-repeat, repeat-y;
        background-position: 0 0, bottom, 0 7px;

        &:hover {
            background-image: url("@/assets/flash/scrollbar/secondary_track_thumb1.png"), url("@/assets/flash/scrollbar/secondary_track_thumb2.png"), url("@/assets/flash/scrollbar/secondary_track_thumb3.png");
        }

        &:active {
            background-image: url("@/assets/flash/scrollbar/secondary_track_thumb1_active.png"), url("@/assets/flash/scrollbar/secondary_track_thumb2_active.png"), url("@/assets/flash/scrollbar/secondary_track_thumb3_active.png");
        }
    }


    ::-webkit-scrollbar-button {
        &:vertical {
            &:start {
                &:decrement {
                    height: 16px;
                    display: block;
                    background-image: url(@/assets/flash/scrollbar/secondary_tracker.png);

                    &:active {
                        background-image: url(@/assets/flash/scrollbar/secondary_tracker_active.png);
                    }
                }
            }

            &:end {
                &:increment {
                    background-image: url(@/assets/flash/scrollbar/secondary_tracker.png);
                    background-position-y: 16px;
                    height: 16px;
                    display: block;

                    &:active {
                        background-image: url(@/assets/flash/scrollbar/secondary_tracker_active.png);
                    }
                }
            }
        }
    }

}

.room-info {
    width: 360px;
    color: #000;
    image-rendering: pixelated;
    
    .event-information {
        margin-top: 0.5em;
        background: #EDBA44;
        color: white;
        border-radius: 3px;
        max-height: 60px;

        .text-desc-title {
            min-width: 130px;
            max-width: 275px;
        }
        .text-desc-desc {
            max-width: 140px;
        }
    }

    .room-info-bg {
        border-image-source: url('@/assets/flash/navigator/white_bg.png');
        border-image-slice: 6 6 6 6 fill;
        border-image-width: 6px 6px 6px 6px;
    }

}

.navigator-search-button {
    right: 51px;
    top: 13px;
}

.navigator-clear-button {
    right: 53px;
    top: 17px;
}

.nitro-navigator-search-saves-result {
    background-color: #fff;
    width: 141px;
    min-height: 494px;
    max-height: 350px;
    border-radius: 10px;

    .bg-orange {
        background-color: #FAA700;
    }
}

.nitro-navigator-search-delete {
    cursor: pointer;
    background-image: url("@/assets/flash/navigator/saves-search/delete_search.png");
    width: 18px;
    height: 18px;

    &:hover {
        background-image: url("@/assets/flash/navigator/saves-search/delete_search_hover.png");

        &:active {
            background-image: url("@/assets/flash/navigator/saves-search/delete_search_click.png");
        }

    }
}
