@import './assets/styles';

html,
body {
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    scrollbar-width: thin;

    .image-rendering-pixelated {
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
    }

    * {
        -webkit-font-smoothing: none !important;
        -moz-osx-font-smoothing: grayscale !important;
        font-smooth: never !important;
        text-rendering: optimizeSpeed !important;
    }
}

img {
    object-fit: none;
}

.fs-7 {
    font-size: 12px !important;
}

.gap-01 {
    gap: 1px !important;
}

@import './App';
