@import './assets/styles';

html,
body {
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    scrollbar-width: thin;

    .image-rendering-pixelated {
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
    }

    * {
        -webkit-font-smoothing: none !important;
        -moz-osx-font-smoothing: grayscale !important;
        font-smooth: never !important;
        text-rendering: optimizeSpeed !important;
    }
}

input { 

    &[type="checkbox"] {  
        appearance: none;
        background-color: transparent!important;
        border: 0!important;
        width: 15px;
        height: 15px;
        border-radius: 0!important;
        background-image: url(@/assets/flash/buttons/checkbox.png);
        cursor: pointer;   
    }

    &[type="radio"] {
        appearance: none;
        background-color: transparent!important;
        border: 0!important;
        background-image: url(@/assets/flash/buttons/radio.png);
        width: 14px;
        height: 14px;
        cursor: pointer;   
    }

    &:checked {
        appearance: none;
        background-color: transparent!important;
        border: 0!important;
        background-image: url(@/assets/flash/buttons/checkbox_checked.png);
        cursor: pointer;  

      &[type="radio"] {
        appearance: none;
        background-color: transparent!important;
        border: 0!important;
        background-image: url(@/assets/flash/buttons/radio_marked.png);
        cursor: pointer;  
      }
    }
}


::selection {
    background-color: #B5D5FF;
    color: #000000;
    padding: 0;
}


img {
    object-fit: none;
}

.fs-7 {
    font-size: 12px !important;
}

.gap-01 {
    gap: 1px !important;
}

@import './App';
