@font-face {
    font-family: Ubuntu;
    src: url('@/assets/webfonts/Ubuntu.woff');
    font-weight: normal;
    font-style: normal;
    image-rendering: -moz-crisp-edges;
    --tw-text-opacity: 1;
    image-rendering: pixelated;
}

@font-face {
    font-family: Ubuntu;
    src: url('@/assets/webfonts/UbuntuCondensed.woff');
    font-stretch: condensed;
    font-weight: 400;
    font-style: normal;
    image-rendering: -moz-crisp-edges;
    --tw-text-opacity: 1;
    image-rendering: pixelated;
}

@font-face {
    font-family: Ubuntu;
    src: url('@/assets/webfonts/Ubuntu-i.ttf');
    font-weight: normal;
    font-style: italic;
    image-rendering: -moz-crisp-edges;
    --tw-text-opacity: 1;
    image-rendering: pixelated;
}

@font-face {
    font-family: Ubuntu;
    src: url('@/assets/webfonts/UbuntuBoldItalic.woff');
    font-weight: bold;
    font-style: italic;
    image-rendering: -moz-crisp-edges;
    --tw-text-opacity: 1;
    image-rendering: pixelated;
}

@font-face {
    font-family: Ubuntu;
    src: url('@/assets/webfonts/UbuntuBold.woff');
    font-weight: bold;
    font-style: normal;
    image-rendering: -moz-crisp-edges;
    --tw-text-opacity: 1;
    image-rendering: pixelated;
}

@font-face {
    font-family: Ubuntu;
    src: url('@/assets/webfonts/UbuntuSemi.woff');
    font-weight: 500;
    font-style: normal;
    image-rendering: -moz-crisp-edges;
    --tw-text-opacity: 1;
    image-rendering: pixelated;
}

@font-face {
    font-family: Goldfish;
    src: url('@/assets/webfonts/Volter.woff');
}

@font-face {
    font-family: Goldfish-Bold;
    src: url('@/assets/webfonts/VolterBold.woff');
}

.goldfish,
.goldfish-bold,
.volter-button,
.notification-bubble-text,
.badge-desc,
.nitro-item-count,
.form-select-sm,
.pixelated,
[class*="goldfish"] {
    -webkit-font-smoothing: none !important;
    -moz-osx-font-smoothing: none !important;
    font-smooth: never !important;
    text-rendering: optimizeSpeed;
}
