::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track:vertical {
    background-image: url("@/assets/flash/scrollbar/background.png");
    pointer-events: all;
    width: 17px;
}

::-webkit-scrollbar-thumb:vertical {
    background-image: url("@/assets/flash/scrollbar/thumb_top.png"),
    url("@/assets/flash/scrollbar/thumb_bottom.png"),
    url("@/assets/flash/scrollbar/thumb_middle.png");
    background-repeat: no-repeat, no-repeat, repeat-y;
    background-position: 0 0, bottom, 0 7px;
    width: 17px;

    &:hover {
        background-image: url("@/assets/flash/scrollbar/thumb_top.png"),
        url("@/assets/flash/scrollbar/thumb_bottom.png"),
        url("@/assets/flash/scrollbar/thumb_middle_hover.png");
    }

    &:active {
        background-image: url("@/assets/flash/scrollbar/thumb_top_active.png"),
        url("@/assets/flash/scrollbar/thumb_bottom_active.png"),
        url("@/assets/flash/scrollbar/thumb_middle_active.png");
    }
}

::-webkit-scrollbar-button:vertical:start:decrement {
    background-image: url("@/assets/flash/scrollbar/up.png");
    height: 16px;
    display: block;

    &:hover {
        background-image: url("@/assets/flash/scrollbar/up_hover.png");
    }

    &:active {
        background-image: url("@/assets/flash/scrollbar/up_active.png");
    }
}

::-webkit-scrollbar-button:vertical:end:increment {
    background-image: url("@/assets/flash/scrollbar/down.png");
    height: 16px;
    display: block;

    &:hover {
        background-image: url("@/assets/flash/scrollbar/down_hover.png");
    }

    &:active {
        background-image: url("@/assets/flash/scrollbar/down_active.png");
    }
}

::-webkit-scrollbar:horizontal {
    height: 17px;
}

::-webkit-scrollbar-track:horizontal {
    background-image: url("@/assets/flash/scrollbar/background_horizontal.png");
    pointer-events: all;
    height: 17px;
}

::-webkit-scrollbar-thumb:horizontal {
    background-image: url("@/assets/flash/scrollbar/thumb_left.png"),
    url("@/assets/flash/scrollbar/thumb_right.png"),
    url("@/assets/flash/scrollbar/thumb_middle_horizontal.png");
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 0 0, right, 0 0px;
    height: 17px;

    &:hover {
        background-image: url("@/assets/flash/scrollbar/thumb_left.png"),
        url("@/assets/flash/scrollbar/thumb_right.png"),
        url("@/assets/flash/scrollbar/thumb_middle_horizontal_hover.png");
    }

    &:active {
        background-image: url("@/assets/flash/scrollbar/thumb_left_active.png"),
        url("@/assets/flash/scrollbar/thumb_right_active.png"),
        url("@/assets/flash/scrollbar/thumb_middle_horizontal_active.png");
    }
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background-image: url("@/assets/flash/scrollbar/left.png");
    height: 17px;
    display: block;

    &:hover {
        background-image: url("@/assets/flash/scrollbar/left_hover.png");
    }

    &:active {
        background-image: url("@/assets/flash/scrollbar/left_active.png");
    }
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background-image: url("@/assets/flash/scrollbar/right.png");
    height: 16px;
    display: block;

    &:hover {
        background-image: url("@/assets/flash/scrollbar/right_hover.png");
    }

    &:active {
        background-image: url("@/assets/flash/scrollbar/right_active.png");
    }
}

.theme-modtool-windows, .theme-messenger * {
    ::-webkit-scrollbar {
        width: 7px !important;
        height: 7px !important;
    }

    ::-webkit-scrollbar-track {
        background-color: #fff !important;
        background-image: none !important;
        border: 1px solid #C9C5D2 !important;
        border-radius: 4px !important;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #453B3B !important;
        background-image: none !important;
        width: 5px !important;
        border-radius: 4px !important;
        border: 1px solid white !important;

        &:hover {
            background-color: #777 !important;
        }
    }

    ::-webkit-scrollbar-button {
        display: none !important;
        height: 0 !important;
        width: 0 !important;
    }
}
