.nitro-camera-capture {
    position: relative;

    .header-close {
        top: 8px;
        right: 8px;
        cursor: pointer;
        background-image: url("@/assets/flash/boxes/card/close.png");
        width: 19px;
        height: 20px;

            &:hover {
                background-image: url("@/assets/flash/boxes/card/close_hover.png");

            &:active {
                background-image: url("@/assets/flash/boxes/card/close_click.png");
            }

        }
    }

    .text-camera {
        left: 9em;
        top: 0.7em;
        font-size: 14px;
    }

    .info-camera {
        top: 8px;
        right: 32px;
        cursor: pointer;
        background-image: url("@/assets/flash/boxes/card/questionmark.png");
        width: 19px;
        height: 20px;

            &:hover {
                background-image: url("@/assets/flash/boxes/card/questionmark_hover.png");

            &:active {
                background-image: url("@/assets/flash/boxes/card/questionmark_click.png");
            }
        }
    }

    .camera-area {
        position: absolute;
        top: 37px;
        left: 10px;
        width: 320px;
        height: 320px;

        &.flash {
            z-index: 10;
            background: #ffffffcf;
            animation: camera-flash-animation 0.5s ease-out forwards;
        }
    }

    @keyframes camera-flash-animation {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    .camera-canvas {
        position: relative;
        width: 340px;
        height: 462px;
        background-image: url('@/assets/images/room-widgets/camera-widget/camera-spritesheet.png');
        background-position: -1px -1px;
        z-index: 2;

        .camera-button {
            width: 94px;
            height: 94px;
            cursor: pointer;
            margin-top: 362px;

            background-image: url('@/assets/images/room-widgets/camera-widget/camera-spritesheet.png');
            background-position: -343px -321px;

            &:hover {
                background-position: -535px -321px;
            }

            &:active {
                background-position: -439px -321px;
            }
        }

        .camera-view-finder {
            background-image: url('@/assets/images/room-widgets/camera-widget/camera-spritesheet.png');
            background-position: -343px -1px;
        }

        .camera-frame {
            .camera-frame-preview-actions {
                background: rgba(0, 0, 0, 0.5);

                .btn-success {
                    padding: 6px 12px 7px 12px !important;
                }
            }
        }
    }

    .camera-roll {
        width: 330px;
        background: #bab8b4;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 1px solid black;
        box-shadow: inset 1px 0px white, inset -1px -1px white;

        .camera-roll-item {
            width: 58px;
            height: 58px;
            background-image: url('@/assets/images/room-widgets/camera-widget/camera-spritesheet.png');
            background-position: -407px -476px;

            &.selected {
                background-image: none;
            }
        }

        .camera-close-icon {
            width: 19px;
            position: absolute;
            z-index: 2;
            right: 0;
            height: 19px;
            background-image: url('@/assets/images/room-widgets/camera-widget/camera-spritesheet.png');
            background-position: -468px -476px;
        }

        .camera-selected-item {
            background-image: url('@/assets/images/room-widgets/camera-widget/camera-spritesheet.png');
            background-position: -342px -474px;
            position: relative;
            bottom: 2px;
        }

        .selected {
            border: 0;
            border-radius: 6px;
        }

        img {
            width: 56px;
            height: 56px;
            border: 1px solid black;
            object-fit: contain;
            image-rendering: initial;
        }
    }
}

.nitro-camera-editor {
    width: $camera-editor-width;
    height: $camera-editor-height;

    .picture-preview {
        width: 320px;
        height: 320px;
    }

    .layout-grid-item {
        height: 60px !important;
        max-height: 60px !important;
    }

    .effect-thumbnail-image {
        img {
            width: 50px;
            height: 50px;
            image-rendering: auto;
            object-fit: contain;
        }
    }

    .remove-effect {
        position: absolute;
        top: 1px;
        right: 1px;
        padding: 2px;
        font-size: 10px;
        min-height: unset;
    }
}

.nitro-camera-checkout {
    width: $camera-checkout-width;

    .picture-preview {
        width: 320px;
        height: 320px;
    }
}
